<a href="https://colab.research.google.com/github/abhilampard/Downcast-Datatypes/blob/main/Downcast_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import sys

In [8]:
# Read Sample Data and Increase Memory Size of DataFrame by Duplicating Rows.
sample_df = pd.read_csv('sample_data/california_housing_train.csv')

print("Original count of rows: ", len(sample_df))
counter = 0

while counter < 10:
  sample_df = sample_df.append(sample_df, ignore_index = True)
  counter = counter + 1

print("New count of rows after duplicating: ", len(sample_df))

Original count of rows:  17000

<ipython-input-8-c35037e491ab>:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sample_df = sample_df.append(sample_df, ignore_index = True)

New count of rows after duplicating:  17408000

In [9]:
sample_df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0

In [10]:
print("Old Dataypes: ", sample_df.dtypes)

Old Dataypes:  longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [11]:
def downcast_datatypes(df):
  start_mem = df.memory_usage().sum() / 1024**2
  print("Memory consumed (in MB) before downsizing: ", start_mem)

  fcols = df.select_dtypes('float').columns
  icols = df.select_dtypes('integer').columns
  ocols = df.select_dtypes('object').columns

  df[fcols] = df[fcols].apply(pd.to_numeric, downcast = 'float')
  df[icols] = df[icols].apply(pd.to_numeric, downcast = 'integer')

  for col in ocols:
    df[col] = df[col].astype('category')
  
  end_mem = df.memory_usage().sum() / 1024**2
  print("Memory consumed (in MB) after downsizing: ", end_mem)
  print('Memory usage decreased by ({:.1f}% )'.format(100 * (start_mem - end_mem) / start_mem))

  return df

In [12]:
reduced_sample_df = downcast_datatypes(sample_df)

Memory consumed (in MB) before downsizing:  1195.3126220703125
Memory consumed (in MB) after downsizing:  597.6563720703125
Memory usage decreased by (50.0% )

In [13]:
print("\n\nNew Dataypes: ", reduced_sample_df.dtypes)

New Dataypes:  longitude             float32
latitude              float32
housing_median_age    float32
total_rooms           float32
total_bedrooms        float32
population            float32
households            float32
median_income         float32
median_house_value    float32
dtype: object